@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --header-height: 3.5rem;
    --sidebar-width: 18rem;

    --sidebar-background: #3c4b64;
    --main-content-background: #cdcdcd;
}

html, body {
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}

// Structural UI Styles
.page-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;

    .main-navigation-wrapper {
        flex: 0 0 var(--sidebar-width);
    }

    .main-content-wrapper {
        flex: 0 0 calc(100% - var(--sidebar-width));
    }
}

// Main Nav Styles
.main-navigation-wrapper {
    background: var(--sidebar-background);

    .logo-panel {
        background: rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            --font-size: 1.2rem;
            font-size: var(--font-size);
            line-height: 1;
            margin: 0;
            padding: calc((var(--header-height) - var(--font-size)) / 2) 0.5rem;
            color: white;
            font-weight: 700;
            letter-spacing: 0.04rem;
        }
    }
}

// Main Content Styles
.main-content-wrapper {
    background: var(--main-content-background);

    .main-header {
        background: white;
        height: var(--header-height);
    }
}

.main-navigation ul {
    margin-top: 1rem;

    li {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            padding: 1rem 1.5rem;

            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }

        [class^="fa"] {
            margin-right: 1rem;
        }

        span.counter {
            --size: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--size);
            height: var(--size);
            background: white;
            border-radius: 50%;
            text-align: center;
            line-height: var(--size);
            color: var(--sidebar-background);
            font-size: 0.75em;
        }
    }
}